@import  url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 50px auto;
  background: white;
  overflow-x: hidden;
  transition: all 200ms linear;
}

::selection {
  color: #fff;
  background-color: #816
}
::-moz-selection {
	color: #fff;
	background-color: #816;
}

header {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

header video {
  width: 100%;
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

svg text {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 38px;
}

svg rect {
  fill: white;
}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

h1 {
  text-align: center;
  font-family: "Poppins";
  font-weight: 1000;
  font-size: 9em;
  color: #fff;
  text-shadow: 0em 0.05em 0 rgba(0, 0, 0, 0.35);
}

.divider {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider--delay {
  animation-delay: 1s;
}
.divider::before,
.divider::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider::before {
  left: 0;
  top: -1px;
}
.divider::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}


.about-container {
  display: block;
  position: absolute;
  padding: 20px;
  width: 100vw;
  margin-top: 239px;
}

.frame {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 600px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: rgb(97, 20, 65);
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  position: absolute;
  z-index: 10;
  height: 50px;
  width: 50px;
  top: 175px;
  left: 175px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: circle 1s ease-in-out;
          animation: circle 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line {
  position: absolute;
  z-index: 10;
  width: 150px;
  height: 4px;
  top: 198px;
  background: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.line.left {
  left: 50px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
          animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
}
.line.right {
  right: 50px;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
          animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
}

.bracket {
  position: absolute;
  z-index: 10;
  height: 70px;
  width: 4px;
  top: 165px;
  background: rgb(180, 50, 122);
  -webkit-animation: bracket .4s ease-out 1.7s;
          animation: bracket .4s ease-out 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket:before, .bracket:after {
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 4px;
  background: rgb(185, 38, 112);
}
.bracket.left {
  left: 40px;
}
.bracket.left:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.left:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.right {
  right: 210px;
}
.bracket.right:before {
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.right:after {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.big {
  position: absolute;
  z-index: 5;
  top: 173px;
  width: 400px;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 50px;
  text-transform: uppercase;
}

.hide {
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 50px;
  background: rgb(185, 38, 111);
  left: 0;
  -webkit-animation: reveal .4s ease-out 1.7s;
          animation: reveal .4s ease-out 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.hide.top {
  bottom: 49%;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
.hide.bottom {
  top: 49%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.small {
  position: absolute;
  z-index: 10;
  width: 400px;
  text-align: center;
  left: 0;
  font-weight: 500;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 30px;
  text-transform: uppercase;
}
.small.top {
  top: 140px;
  -webkit-animation: small-top .5s ease-out 2.2s;
          animation: small-top .5s ease-out 2.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.small.bottom {
  bottom: 140px;
  -webkit-animation: small-bottom .5s ease-out 2.2s;
          animation: small-bottom .5s ease-out 2.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lines {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes lines {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes line-left {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes line-left {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@-webkit-keyframes line-right {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes line-right {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@-webkit-keyframes bracket {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes bracket {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes bracket-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes bracket-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@-webkit-keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@-webkit-keyframes small-top {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-top {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes small-bottom {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-bottom {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.headshot-container {
  background-image: url("https://res.cloudinary.com/homesbysadeth/image/upload/v1571616399/static/banner_a0kbg6.png");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 80%;
  display: block;
  position: relative;
  top: 500px;
}

.headshot {
  position: relative;
  top: 20px;
}

.bh {
  position: relative;
  top: 40px;
}

.h5 {
  line-height: 85px;
  letter-spacing: 2px;
  overflow: hidden;
}

.divider2 {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  top: 500px;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider2--delay {
  animation-delay: 1s;
}
.divider2::before,
.divider2::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider2::before {
  left: 0;
  top: -1px;
}
.divider2::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}

.featured-container {
  padding: 30px;
  margin-top: 20px;
  position: relative;
  top: 500px;
  background-color: #aaece1b4;
}
.card {
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 5px;
  margin-top: 20px;
}

.value-container {
  position: relative;
  display: block;
  padding: 20px;
  top: 500px;
}

.divider3 {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  top: 500px;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider3--delay {
  animation-delay: 1s;
}
.divider3::before,
.divider3::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider3::before {
  left: 0;
  top: -1px;
}
.divider3::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}

.btn-primary {
  border: 0;
  text-shadow: 0px 1px 0px #3071a9;
  background-color: #428bca;
  -webkit-box-shadow: 0px 6px 0px #3071a9;
  -moz-box-shadow: 0px 6px 0px #3071a9;
  box-shadow: 0px 6px 0px #3071a9;
}
.btn-primary:hover {
  border: 0;
  background-color: #5697d0 !important;
  -webkit-box-shadow: 0px 4px 0px #3071a9;
  -moz-box-shadow: 0px 4px 0px #3071a9;
  box-shadow: 0px 4px 0px #3071a9;
}
.btn-primary:active {
  -webkit-box-shadow: inset 0px 3px 0px #3071a9;
  -moz-box-shadow: inset 0px 3px 0px #3071a9;
  box-shadow: inset 0px 3px 0px #3071a9;
}

.btn-success {
  border: 0;
  text-shadow: 0px 1px 0px #449d44;
  background-color: #5cb85c;
  -webkit-box-shadow: 0px 6px 0px #449d44;
  -moz-box-shadow: 0px 6px 0px #449d44;
  box-shadow: 0px 6px 0px #449d44;
}
.btn-success:hover {
  border: 0;
  background-color: #6ec06e !important;
  -webkit-box-shadow: 0px 4px 0px #449d44;
  -moz-box-shadow: 0px 4px 0px #449d44;
  box-shadow: 0px 4px 0px #449d44;
}
.btn-success:active {
  -webkit-box-shadow: inset 0px 3px 0px #449d44;
  -moz-box-shadow: inset 0px 3px 0px #449d44;
  box-shadow: inset 0px 3px 0px #449d44;
}

.btn-info {
  border: 0;
  text-shadow: 0px 1px 0px #31b0d5;
  background-color: #5bc0de;
  -webkit-box-shadow: 0px 6px 0px #31b0d5;
  -moz-box-shadow: 0px 6px 0px #31b0d5;
  box-shadow: 0px 6px 0px #31b0d5;
}
.btn-info:hover {
  border: 0;
  background-color: #70c8e2 !important;
  -webkit-box-shadow: 0px 4px 0px #31b0d5;
  -moz-box-shadow: 0px 4px 0px #31b0d5;
  box-shadow: 0px 4px 0px #31b0d5;
}
.btn-info:active {
  -webkit-box-shadow: inset 0px 3px 0px #31b0d5;
  -moz-box-shadow: inset 0px 3px 0px #31b0d5;
  box-shadow: inset 0px 3px 0px #31b0d5;
}

.btn-success {
  position: relative;
  top: 10px;
  left: 15px;
}

.btn-info {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.testimonials-container {
  background-image: url("https://res.cloudinary.com/homesbysadeth/image/upload/v1571618358/static/vectorious-floral-background-002_Converted_cdsdj1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  position: relative;
  bottom: -480px;
  left: 20px;
}
