@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,300);
@import  url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 50px auto;
  background: white;
  transition: all 200ms linear;
}

::selection {
  color: #fff;
  background-color: #816
}
::-moz-selection {
	color: #fff;
	background-color: #816;
}

hero-body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  max-width: 100vw;
}

hero-body video {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 88%;
}

svg text {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 48px;
}

svg rect {
  fill: white;
}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

h1 {
  text-align: center;
  font-family: "Poppins";
  font-weight: 1000;
  font-size: 9em;
  color: #fff;
  text-shadow: 0em 0.05em 0 rgba(0, 0, 0, 0.35);
}

.divider {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider--delay {
  animation-delay: 1s;
}
.divider::before,
.divider::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider::before {
  left: 0;
  top: -1px;
}
.divider::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}

.about-container {
  position: absolute;
  padding-top: 280px;
  margin-top: 180px;
  width: 90vw;
}

.brands{
  position: relative;
  margin-top: 480px;
  width: 90vw;

}



.frame {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 550px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: rgb(97, 20, 65);
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  position: absolute;
  z-index: 10;
  height: 50px;
  width: 50px;
  top: 175px;
  left: 175px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: circle 1s ease-in-out;
          animation: circle 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line {
  position: absolute;
  z-index: 10;
  width: 150px;
  height: 4px;
  top: 198px;
  background: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.line.left {
  left: 50px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
          animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
}
.line.right {
  right: 50px;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
          animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
}

.bracket {
  position: absolute;
  z-index: 10;
  height: 70px;
  width: 4px;
  top: 165px;
  background: rgb(180, 50, 122);
  -webkit-animation: bracket .4s ease-out 1.7s;
          animation: bracket .4s ease-out 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket:before, .bracket:after {
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 4px;
  background: rgb(185, 38, 112);
}
.bracket.left {
  left: 44px;
}
.bracket.left:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.left:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.right {
  right: 190px;
}
.bracket.right:before {
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.bracket.right:after {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: bracket-line .2s ease-out 2.1s;
          animation: bracket-line .2s ease-out 2.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.big {
  position: absolute;
  z-index: 5;
  top: 173px;
  width: 400px;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 50px;
  text-transform: uppercase;
}

.hide {
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 50px;
  background: rgb(185, 38, 111);
  left: 0;
  -webkit-animation: reveal .4s ease-out 1.7s;
          animation: reveal .4s ease-out 1.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.hide.top {
  bottom: 49%;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
.hide.bottom {
  top: 49%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.small {
  position: absolute;
  z-index: 10;
  width: 400px;
  text-align: center;
  left: 0;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30px;
  text-transform: uppercase;
}
.small.top {
  top: 140px;
  -webkit-animation: small-top .5s ease-out 2.2s;
          animation: small-top .5s ease-out 2.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.small.bottom {
  bottom: 80px;
  -webkit-animation: small-bottom .5s ease-out 2.2s;
          animation: small-bottom .5s ease-out 2.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lines {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes lines {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes line-left {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes line-left {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@-webkit-keyframes line-right {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes line-right {
  0% {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50%, 100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@-webkit-keyframes bracket {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes bracket {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes bracket-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes bracket-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@-webkit-keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@-webkit-keyframes small-top {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-top {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes small-bottom {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-bottom {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover, .navbar-end a.navbar-item.is-active {
    background-color: #73188f;
    color: #fff;
}

/* Custom animation styles */

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

.brands {
  color: #313437;
  background-color: #fff;
}

.brands  {
  display: block;
}

@media (max-width:767px) {
  .brands {
    padding: 30px 0;
  }
}

.brands img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}


.divider2 {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider2--delay {
  animation-delay: 1s;
}
.divider2::before,
.divider2::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider2::before {
  left: 0;
  top: -1px;
}
.divider2::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}


.card {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.divider3 {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider3--delay {
  animation-delay: 1s;
}
.divider3::before,
.divider3::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider3::before {
  left: 0;
  top: -1px;
}
.divider3::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}

.divider4 {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: 100vw;
  height: 4px;
  border: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #73188f, #ffe958, #2df0f7, #ffbb2a, #73189f, #cc3366);
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.divider4--delay {
  animation-delay: 1s;
}
.divider4::before,
.divider4::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  background: white;
}

.divider4::before {
  left: 0;
  top: -1px;
}
.divider4::after {
  right: 0;
}

@keyframes slide {
  from {
    background-position: left 0;
  }
  to {
    background-position: right 0;
  }
}

.contact-me {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
}

.icon-right1 {
  position: relative;
  display: inline-block;
  left: 60px;
  top: -6px;
}

.icon-right2 {
  position: relative;
  display: inline-block;
  left: 60px;
}

